body {
  font-family: Montserrat;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

.chucho {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 50px;
  position: absolute;
}

.chucho-div {
  position: relative;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Feature section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
  position: relative;
  z-index: 1;
}

.testimonialpic {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.presspic {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.price {
  padding: 3% 2%;
}

.rr {
  margin-top: 39px;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 8% 8%;
}

#footer {
  background-color: white;
  text-align: center;
}

.foo {
  margin-bottom: 0;
  padding-bottom: 3%;
}

.download-but {
  margin: 2.5% 1.5% 0;
}

.fooh3{
  color: white;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 3%;
}
.net{
  margin: 5% 1% 1.5%;
}

@media (max-width: 992px) {
  .download-but {
    font-size: 2rem;
    margin: 1% 2% 0;
  }

  #cta {
    padding: 20% 8%;
  }
  .fooh3{
    padding-bottom: 8%;
  }
  .foo{
    padding-bottom: 6%;
  }
  .net{
    font-size: 2.5rem;
    padding: 6% 0;
  }
  .chucho {
    position: relative;
    transform: rotate(0deg);
    margin-left: 0;
    padding: 15% 0;
  }

  .container-fluid {
    text-align: center;
    padding: 8% 12% 0;

  }

  h1 {
    font-size: 6rem;
    padding-bottom: 10%;
  }

  .nav-link {
    font-size: 3rem;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .download-button {
    font-size: 3rem;
  }

  .icon {
    font-size: 8rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }

  .navbar-toggler {
    font-size: 3rem;
  }

  #features {
    padding: 10% 15%;
  }

  .feature-box {
    padding: 8%;
  }

  .row {
    padding-top: 10%;
  }

  .testimonialpic {
    width: 25%;
  }

  h2 {
    font-size: 4rem;
  }

  .presspic {
    width: 20%;
  }

  .arrow {
    width: 19%;
    font-size: 5rem;
  }

  .carousel-inner {
    padding: 20% 0;
  }

  .owner {
    font-size: 2rem;
  }

  .price {
    width: 100%;
    padding: 5% 0;
  }

  .w-100 {
    margin: 30px 0;
    font-size: 2rem;
  }

  .priceh2 {
    margin-bottom: 60px;
  }
}
